################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Final Project/FileContentIndex/28ab5997-8948-4292-ac0c-3fa1f09bbaa7.vsidx
/.vs/Final Project/FileContentIndex/07195e5d-626a-4e73-8bc0-d2586f949256.vsidx
/.vs/Final Project/FileContentIndex/230c967e-b9d3-4650-b8ea-a0d126b95a0d.vsidx
/.vs/Final Project/FileContentIndex/5b40c347-578d-4f41-a17a-4c33c07e68d8.vsidx
/.vs/Final Project/FileContentIndex/1fdeb577-32b7-454f-b40c-eed3806ac11d.vsidx
