################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Final Project/FileContentIndex/28ab5997-8948-4292-ac0c-3fa1f09bbaa7.vsidx
